.card {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: var(--br);
    background-color: white;
    overflow: hidden;
    left: 0;
    margin-top: 0.5rem;
    border: 2px solid var(--text-primary);
}

.btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 18px;
    background-color: white;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: var(--br);
}