.card {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: var(--br);
    z-index: 3;
}

.content_container {
    display: flex;
    gap: 1rem;
}

.img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inp {
    border: none;
    background-color: var(--bg-primary-tint);
    height: fit-content !important;
    padding: 0.5rem;
    width: 150px;
}

.btn_container {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: var(--blue);
    width: fit-content;
    margin-top: 0.5rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 18px;
    border-radius: var(--br);
}

.btn_logout {
    width: fit-content;
    margin-top: 0.5rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 18px;
    border-radius: var(--br);
}

.btn:hover {
    background-color: var(--blue-tint);
}