.card {
    background-color: white;
    padding: 0.7rem;
    border-radius: var(--br);
    border: 2px solid white;
}

.card:hover {
    border: 2px solid #888888;
}

.card_active {
    border: 2px solid var(--text-primary);
}

.card_active:hover {
    border: 2px solid var(--text-primary);
}

.normal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_container {
    display: flex;
}

.btn_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border-radius: var(--br);
    background: none;
    border-radius: var(--br);
}

.btn_icon:hover {
    background-color: rgb(236, 236, 236);
}

.edit {
    display: none;
    flex-direction: column;
    gap: 1rem;
}

.btn_container {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.btn {
    width: fit-content;
    margin-top: 0.5rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 18px;
    border-radius: var(--br);
}

.btn_save {
    background-color: var(--blue);
}

.btn_save:hover {
    background-color: var(--blue-tint);
}

.inp {
    border: none !important;
    padding: 0 !important;
    height: fit-content !important;
    font-size: 24px !important;
    font-weight: 500 !important;
    color: var(--text-primary);
}

.inp:focus {
    box-shadow: none !important;
}