.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.7rem;
    border-radius: var(--br);
    border: 2px solid white;
}

.card:hover {
    border: 2px solid #888888;
}

.card_active {
    border: 2px solid var(--text-primary);
}

.card_active:hover {
    border: 2px solid var(--text-primary);
}

.right_container {
    display: flex;
}

.btn_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border-radius: var(--br);
    background: none;
    border-radius: var(--br);
}

.btn_icon:hover {
    background-color: rgb(236, 236, 236);
}

.options {
    visibility: hidden;
}

.card:hover .options {
    visibility: visible;
}