.reactSwitchCheckbox {
    height: 0;
    width: 0;
    visibility: hidden;
    position: fixed;
  }
  
  .reactSwitchLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 55px;
    height: 30px;
    background: var(--bg-primary-tint);
    border-radius: 100px;
    position: relative;
    transition: background-color 0.2s;
  }

  .reactSwitchLabelOpen {
    background-color: #2DCC70;
  }
  
  .reactSwitchButton {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  
  .reactSwitchCheckbox:checked + .reactSwitchLabel .reactSwitchButton {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  
  .reactSwitchLabel:active .reactSwitchButton {
    width: 30px;
  }
  